services:
  datasource:
    container_name: uyol-db
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - uyol
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  datasource-administration:
    container_name: uyol-administration
    image: dpage/pgadmin4
    env_file:
      - .env
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - uyol
    restart: unless-stopped

  keycloak:
    container_name: uyol-keycloack
    image: quay.io/keycloak/keycloak:26.2
    env_file:
      - .env
    ports:
      - "7080:7080"
    networks:
      - uyol
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:7080/health/ready" ]
      interval: 15s
      timeout: 2s
      retries: 15
    command: [ "start-dev", "--http-port", "7080", "--https-port", "7443" ]

  mailpit:
    container_name: uyol-mailpit
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - uyol
    restart: unless-stopped
    volumes:
      - ./data:/data

networks:
  uyol:
    driver: bridge

volumes:
  postgres:
  pgadmin: